<nav class="navbar navbar-sub navbar-default">
  <div class="container">
    <div class="nav navbar-nav navbar-right">
      <%= link_to 'Add Book', new_book_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</nav>