html,
body {
  height: 100%;
}

body {
  background: url('bg.png') repeat;

  .wrapper {
    padding-top: 10px;
  }

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }

  .navbar-sub {
    background: transparent;
    margin-bottom: 20px;
    border: none;

    .btn {
      margin-top: 10px;

      &:last-child {
        float: right;
      }
    }
  }

  .dreadsheet-table {
    th {
      &:not(:first-child) {
        text-align: center;
      }
    }

    tbody > tr {
      border-top: 1px solid #bbbbbb !important;

      td {
        border-top: 1px solid #bbbbbb !important;
        vertical-align: middle;

        a {
          text-decoration: none;
        }

        &:not(:first-child) {
          text-align: center;
        }
      }

      &.switch {
        background-color: #ebc5c5;
      }

      &.ps4,
      &.ps5 {
        background-color: #c2d2ef;
      }

      &.pc,
      &.steam,
      &.xgp,
      &.eaorigin,
      &.epic,
      &.twitch,
      &.itchio,
      &.uplay {
        background-color: #d1e2cc;
      }
    }
  }

  form {
    .row {
      padding-bottom: 10px;

      .form-group {
        input[type="checkbox"] {
          box-shadow: none;
          -webkit-box-shadow: none;
          margin-top: 0.5rem;
          width: 2.25rem;
          height: 2.25rem;
          border: 1px solid #ced4da;
        }
      }
    }

    //.form-buttons {
    //  float: right;
    //
    //  &::after {
    //    content: "";
    //    clear: both;
    //    display: table;
    //  }
    //}
  }

}


